@import url('./../../styles/variables.css');

.rowStyle {
  text-align: center;
  justify-content: space-evenly;
}

.card {
  display: inline-block;

  background-image: url("./../../assets/card-bg.jpg");
  background-size: cover;
}

.cardTitle {
  color: var(--color-base-white);
  text-align: center;
  margin-top: 10px;
  margin-bottom: unset;
}
