@import url("./../../styles/variables.css");

.btnStyle {
  font-weight: bold;

  color: var(--color-base-accent);
  background-color: var(--color-base-silver);

  border: 2px solid var(--color-base-gold);
  border-radius: 2px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.btnStyle:hover {
  background-color: var(--color-base-gold);
}

.btnStyle:disabled {
  border: 2px solid var(--color-base-silver);
}

.tileWin {
  background-color: var(--color-base-gold);
  border: 2px solid var(--color-base-silver);
}

.tilePrev {
  color: var(--color-base-white);
  background-color: var(--color-base-accent);
  border: 2px solid var(--color-base-silver);
}
