:root {
  --color-base-gold: #D4AF37;
  --color-base-silver: #CCCCCC;
  
  --color-base-accent: #333745;

  --color-base-background: #eef5db;

  --color-base-white: #FFFFFF;
  --color-base-black: #000000;
}
